body {
    font-family: Helvetica;
    display: inline-block;
    text-align: center;
    margin: 1.5rem;
    margin-bottom: 2.5rem;
    background-color: Snow;
}

h1, h3 {
  color: dimgray;
}

h2 {
  color: Cornflowerblue;
  font-size: 2rem;
}

table {
    color: dimgray;
    background-color: white;
    width: 80%;
    margin-left: 10%;
}

td {
    border: 1px solid Darkblue;
    padding: 20px;
}

td:nth-child(1), td:nth-child(2) {
    width: 20%;
}

.rowhead {
    background-color: Cornflowerblue;
    font-style: italic;
}

thead {
    background-color: Darkblue;
}

thead, .rowhead {
    font-weight: bold;
    color: azure;
}

.monofont {
    font-family: Lucida Console;
}

a {
    color: Darkcyan;
}
